* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    
    background-color: rgb(59, 38, 79);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@font-face {
    font-family: 'Niconne';
    src: url('fontovi/nicconne/Niconne-Regular.woff2') format('woff2'),
        url('fontovi/nicconne/Niconne-Regular.woff') format('woff'),
        url('fontovi/nicconne/Niconne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PaulaPercin';
    src: 
        url('fontovi/PaulaPercin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.meni {
    width: 500px;
    height: 48px;
    border-bottom: 3px solid #2ed2ff;
    margin: 10px auto 0;
}

.meni ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.meni a:link,
a:visited {
    display: block;
    text-decoration: none;
    line-height: 45px;
    padding: 0 30px;
    font-size: 18px;
    color: #2ed2ff;
    ;
}

.meni a:hover,
a:active {
    color: rgb(0, 135, 180);
    ;
    border-bottom: 3px solid rgb(0, 135, 180);
    ;
}


h1{

    font-family: 'PaulaPercin';
};
h2,
h3 {
    font-family: 'Niconne';
}

#header{
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#header h1{
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: rgba(184, 53, 223, 0.432) ;
    padding: 10px;
    border-radius: 10px;
}

#header h2{
    color: #2ed2ff;
    font-size: 30px;
}

#header p{
    text-align: center;
    color: white;

}

.naslovi{
    margin-top: 100px;
}

.omeni img{
height: 300px;
}

.slike_meni{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;

}

.omeni iframe{
    margin-top: 50px;
    margin-left: 450px;
}

.omeni p{
    background-color: rgb(139, 42, 203);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
}

.slike img{
    height: 300px;
    margin: 20px 7px 10px 0;
}

.vjezbe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.vidoe{
    position: absolute;  
top: 50%;  
left: 50%;  
transform: translate(-50%, -50%);
}